{% extends "base.html"%}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "challenges/m_challenge.css" %}">
  <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

{% block page_title%}
{{month|title}}'s Challenge
{% endblock %}


{% block content%}
    <h1>{{month|title}} Challenge</h1>
    {% if text is not None %}
    <h2>{{ text }}</h2>
    {% else %}
    <p class="fallback">There is no challenge for this month yet!</p>
    {% endif %}
{% endblock %}